In [1]:
import numpy as np
import pandas as pd
import nltk
import re
from sklearn.feature_extraction.text import CountVectorizer
import time
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
import string
from nltk.tokenize import word_tokenize

In [2]:
##adding list of stopwords and punctuations.
from nltk.corpus import stopwords
import string

nltk.download('stopwords')
stops=set(stopwords.words('english'))
punct=list(string.punctuation)
stops.update(punct)

[nltk_data] Downloading package stopwords to C:\Users\PRIYANSHU
[nltk_data]     PANDEY\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
stops = set(stopwords.words('english'))
punctuations = list(string.punctuation)
stops.update(punctuations)

def  Remove_stop_words(x):
    l=len(x)
    #print(l)
    y=[]
   
    for i in range(l):
        if x[i] not in stops :
            y.append(x[i])
    #print(len(y))
    return y

def lower_casing(words): 
    text=[]
    for i in words :
        text.append(i.lower())
    return text


def adding(b):
    
    txt=''
    for i in range(len(b)):
        txt+=' '+b[i]
    textdocument.append(txt)

In [4]:
df=pd.read_csv(r'finaldataset.csv')

In [8]:
x=df.copy()
x.head()

,Season,Sector,Category,Crop,QueryType,QueryText,KCCAns,StateName,DistrictName,BlockName,CreatedOn
0,JAYAD,AGRICULTURE,Others,Others,Weather,Asking about weather forecast?,This week weather is mostly cloudy and no Poss...,MAHARASHTRA,WASHIM,RISOD ...,17:46.4
1,JAYAD,AGRICULTURE,Others,Others,Weather,Asking about weather forecast?,This week weather is mostly cloudy and no Poss...,MAHARASHTRA,WASHIM,RISOD ...,17:46.4
2,KHARIF,AGRICULTURE,Others,Others,Weather,Asking about weather forecast?,Cloudy Weather Rainfall Chances Today.,MAHARASHTRA,WASHIM,WASHIM ...,56:37.5
3,KHARIF,AGRICULTURE,Others,Others,Weather,Asking about weather forecast?,Cloudy Weather Rainfall Chances Today.,MAHARASHTRA,WASHIM,WASHIM ...,56:37.5
4,JAYAD,AGRICULTURE,Oilseeds,Soybean (bhat),Market Information,FARMER ASKED ABOUT MARKET RATE OF SOYBEAN ?,MARKET RATE OF SOYBEAN -3200-3400 RS/QTL,MAHARASHTRA,WASHIM,RISOD ...,57:28.0

In [7]:

lt=['Category', 'StateName', 'DistrictName', 'BlockName', 'CreatedOn']
for i in lt:
    x.drop(i, axis=1,inplace = True)
x.head(5)

,Season,Sector,Crop,QueryType,QueryText,KCCAns
0,JAYAD,AGRICULTURE,Others,Weather,Asking about weather forecast?,This week weather is mostly cloudy and no Poss...
1,JAYAD,AGRICULTURE,Others,Weather,Asking about weather forecast?,This week weather is mostly cloudy and no Poss...
2,KHARIF,AGRICULTURE,Others,Weather,Asking about weather forecast?,Cloudy Weather Rainfall Chances Today.
3,KHARIF,AGRICULTURE,Others,Weather,Asking about weather forecast?,Cloudy Weather Rainfall Chances Today.
4,JAYAD,AGRICULTURE,Soybean (bhat),Market Information,FARMER ASKED ABOUT MARKET RATE OF SOYBEAN ?,MARKET RATE OF SOYBEAN -3200-3400 RS/QTL

In [9]:
X = x.iloc[:,0:5]
Y = pd.DataFrame(x.iloc[:,5])

In [10]:
X.head()

   Season       Sector  Category            Crop           QueryType
0   JAYAD  AGRICULTURE    Others          Others             Weather
1   JAYAD  AGRICULTURE    Others          Others             Weather
2  KHARIF  AGRICULTURE    Others          Others             Weather
3  KHARIF  AGRICULTURE    Others          Others             Weather
4   JAYAD  AGRICULTURE  Oilseeds  Soybean (bhat)  Market Information

In [11]:
new_data=pd.get_dummies(X,columns=['Season','Sector','Crop','QueryType'])

In [12]:
X=new_data.iloc[:,1:]

In [13]:
from sklearn import model_selection
xtrain,xtest,ytrain,ytest=model_selection.train_test_split(X,Y,random_state=0)

In [14]:
print(len(xtrain))
print(len(xtest))
print(len(ytrain))
print(len(ytest))

3859
1287
3859
1287

In [15]:
from sklearn.linear_model import LogisticRegression

clf=LogisticRegression(C=0.06)
clf.fit(xtrain,ytrain)

G:\ANACONDA3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
G:\ANACONDA3\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
G:\ANACONDA3\lib\site-packages\sklearn\linear_model\logistic.py:459: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=0.06, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [16]:
y1_pred=clf.predict(xtest)

In [17]:
clf.score(xtest,ytest)

0.4864024864024864

In [ ]:
#speech recognition using tkinter gui
 
from gtts import gTTS
import speech_recognition as sr
import os
import re
import time
from weather import Weather, Unit

def rep():
    a=mycommand()
    talkToMe(a) 
    while True:
        if(a=='exit'):
            break
        else:
            a=mycommand()
            #talkToMe(a)

def talkToMe(audio):
    tts=gTTS(text=audio,lang='hi')
    tts.save('hello.mp3')
    os.system('hello.mp3')

def mycommand():
    r=sr.Recognizer()
    with sr.Microphone() as source:
        print("Now please enter your command")
        r.pause_threshold=1
        r.adjust_for_ambient_noise(source,duration=1)
        audio=r.listen(source)
        try:
            command=r.recognize_google(audio, language="en-IN") #hi-IN
            print("you said: " +command+"\n")
            if 'current weather in' in command:
                reg_ex = re.search('current weather in (.*)', command)
                if reg_ex:
                    city = reg_ex.group(1)
                    weather = Weather(unit=Unit.CELSIUS)
                    location = weather.lookup_by_location(city)
                    condition = location.condition
                    forecasts = location.forecast
                    for forecast in forecasts[]:
                        print(forecast.text)
                        print(forecast.date)
                        print(forecast.high)
                        print(forecast.low)
                        #x="On " + forecast.date + ", the weather will be " + forecast.text
                        #y=" with estimated maximum temperature as " + forecast.high + "degree celsius and with estimated minimum temperature as " + forecast.low + " degree celsius"
                        z='On %s the weather will be %s with estimated maximum temperature as %s degree' % (forecast.date, forecast.text, forecast.high)
                        a='celsius and with estimated minimum temperature as %s degree celsius ' % (forecast.low)
                        #talkToMe(x)
                        talkToMe(z)
                        time.sleep(6)

                        talkToMe(a)
                        time.sleep(6)
                        
                        
                    
                    
        except sr.UnknownValueError:
            #assistant(mycommand())
            print("Your command couldn't be heard")
            command = myCommand();
    return command

In [ ]:
# Implementation of assistant 
rep()